@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
}
 body {
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 2em;
}

 .keyboard {
    --spacing: 0.7em;
    border: 1px solid #AAA;
    border-radius: 0.4em;
    padding: 1em 1.3em;
    background-color: #DDD;
    display:flex;
    flex-direction: column;
    gap: var(--spacing);
    box-shadow: 0 0.15em 0 0 rgb(0, 0, 0, 0.3);

}

 .keyboard .row {
    display: flex;
    gap: var(--spacing);
}

 .keyboard .key {
    flex: 1 1 auto;
    background-color: #fff;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 0.3em;
    padding: 0.5em 0.8em;
    box-shadow: 0 0.15em 0 0 rgb(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative
}

 .keyboard .key:active {
    box-shadow: none;
    top:0.1em;
    background-color: #eee;
}

 .keyboard .key.special {
  background-color: #EEE;    
}

.keyboard .row:nth-child(4) {
    padding-right: 4.5em;
}

.keyboard .key:not(.special) {
    flex-basis: 4ch;
}

.keyboard .key.space {
    flex-basis: 60%;
}


.keyboard .key.special.enter {
  position: relative;
  border-bottom-right-radius: 0;
  background-color: #fff;
}

.keyboard .key.special.enter::after {
  display:block;
  content: '';
  width: 5.5ch;
  height: 5.7ch;
  position: absolute;
  top: calc(100% - 0px);
  right: -1px;
  background: inherit;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0.3em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: inherit;
  cursor: pointer;
}
