@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font: 15px/1.4 Lato, sans-serif;
    background: #dbd9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    flex-wrap: wrap;
   
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2em;
    border-radius: 0.3em;
    width: 60ch;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

input {
    color:rgb(0, 0, 0);
    padding: 1em;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 15px;
    
}

button {
    margin-top: 2em;
    padding: 1em;
}

small {
    display: flex;
    font-size: 0.85em;
    color: #666;
    margin-top: 0.3em;
    margin-bottom: 1em;
    font-style: italic;
    width: 40ch;
    justify-content: end;
    width: 100%;
}

.checkbox {
    display: flex;
    justify-content: space-around;
}
label {
    margin-top: 1em;
}

textarea {
    padding: 0.5em
}

button {
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.bs, .ch {
    margin-bottom: 1em;
}

button:hover {
  background-color: aqua;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); 
  transform: translateY(-2px); 
  border-radius: 0.3em;
}

input:focus{
    color: rgb(128, 11, 0);
    border-color: rgb(128, 11, 0);
    outline: none;
    box-shadow: 0 0 4px rgb(128, 11, 0);
}

.screen-warning {
  display: none; 
  background-color: #ffdede;
  color: #900;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  border: 1px solid #f88;
  border-radius: 5px;
  margin-bottom: 1rem;
}

@media (max-width: 450px) {
  .screen-warning {
    display: block;
  }
}

